.logo {
  height: 3rem;
  width: 10rem;
}
.form-control {
  border-radius: 8px 0px 0px 8px;
  width: 400px;
}
.btn-warning {
  background-color: #585279;
  border-radius: 0px 8px 8px 0px;
}
.btn-warning:hover {
  background-color: #5f46ea;
}

.cart {
  font-size: 25px;
  color: #585279;
}

.cart:hover {
  color: #5f46ea;
}
.login:hover {
  background-color: #5f46ea;
}
.login {
  background-color: #585279;
  border: none;
}
.navigation-bar {
  background-color: #585279;
}

span {
  font-size: 10px;
  background-color: #585279;
}

/* Media queries for Header */
@media only screen and (max-width: 600px) {
  .form-control {
    width: 100%;
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .form-control {
    width: 300px;
  }
}

@media only screen and (max-width: 280px) {
  .form-control {
    width: 100%;
  }
}
